body {
	font-family: 'Open Sans', sans-serif;
}








#question1 {
	margin-left: 10px;
	margin-right: 10px;
	background: cyan;
	padding: 10px 10px 10px 10px;
	width: 975px;
	border-radius: 20px;
	float: left;
}


#buttonQ1 {
	background: green;
	border: black;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: 0.25s;
	margin-top: 15px;
}


#buttonQ1:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;
}


#after_submitQ1 {
	visibility: hidden;
	padding: 10px 10px 10px 10px;
	width: 425px;
	heigth: 900px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 20px;
}


#drop1, #drop2, #drop3, #drop4, #drop5, #drop6, #drop7, #drop8, #drop9 {
  float: left;
  width: 600px;
  height: 20px;
  margin-left: 10px;
  padding: 10px;
  border: solid black;
}


#drag1, #drag2, #drag3, #drag4, #drag5, #drag6, #drag7, #drag8, #drag9 {
  border: solid black;
  border-radius: 20px;
  background-color: white;
}









#question2 {
	margin-left: 10px;
	margin-right: 10px;
	background: cyan;
	padding: 10px 10px 10px 10px;
	width: 975px;
	border-radius: 20px;
	float: left;
}


#buttonQ2 {
	background: green;
	border: black;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: 0.25s;
	margin-top: 15px;
}


#buttonQ2:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;
}


#after_submitQ2 {
	visibility: hidden;
	padding: 10px 10px 10px 10px;
	width: 425px;
	heigth: 900px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 20px;
}


#drop21, #drop22, #drop23, #drop24, #drop25 {
  float: left;
  width: 400px;
  height: 60px;
  margin-left: 10px;
  padding: 10px;
  border: solid black;
}


#drag21, #drag22, #drag23, #drag24, #drag25, #drag26, #drag27, #drag28, #drag29, #drag30, #drag31, #drag32, #drag33 {
  border: solid black;
  border-radius: 20px;
  background-color: white;
}








#question3 {
	margin-left: 10px;
	margin-right: 10px;
	background: cyan;
	padding: 10px 10px 10px 10px;
	width: 975px;
	border-radius: 20px;
	float: left;
}


#Q3_1 {
	width: 900px;
	heigth: 900px;
	float: left;
	border-radius: 20px;
}


#buttonQ3 {
	background: green;
	border: black;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: 0.25s;
	margin-top: 15px;
}


#buttonQ3:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;
}


#after_submitQ3 {
	visibility: hidden;
	padding: 10px 10px 10px 10px;
	width: 425px;
	heigth: 900px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 20px;
}


#answerQ3_picture {
	width: 375px;
	heigth: 300px;
	float: left;
	border-radius: 20px;
}








#question4 {
	margin-left: 10px;
	margin-right: 10px;
	background: cyan;
	padding: 10px 10px 10px 10px;
	width: 975px;
	border-radius: 20px;
	float: left;
}


#Q4_1 {
	width: 900px;
	heigth: 900px;
	float: left;
	border-radius: 20px;
}


#buttonQ4 {
	background: green;
	border: black;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: 0.25s;
	margin-top: 15px;
}


#buttonQ4:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;
}


#after_submitQ4 {
	visibility: hidden;
	padding: 10px 10px 10px 10px;
	width: 425px;
	heigth: 900px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 20px;
}


#answerQ4_picture {
	width: 375px;
	heigth: 300px;
	float: left;
	border-radius: 20px;
}








#question5 {
	margin-left: 10px;
	margin-right: 10px;
	background: cyan;
	padding: 10px 10px 10px 10px;
	width: 975px;
	border-radius: 20px;
	float: left;
}


#Q5_1 {
	width: 900px;
	heigth: 900px;
	float: left;
	border-radius: 20px;
}


#buttonQ5 {
	background: green;
	border: black;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: 0.25s;
	margin-top: 15px;
}


#buttonQ5:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;
}


#after_submitQ5 {
	visibility: hidden;
	padding: 10px 10px 10px 10px;
	width: 425px;
	heigth: 900px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 20px;
}


#answerQ5_picture {
	width: 375px;
	heigth: 300px;
	float: left;
	border-radius: 20px;
}








#question6 {
	margin-left: 10px;
	margin-right: 10px;
	background: cyan;
	padding: 10px 10px 10px 10px;
	width: 975px;
	border-radius: 20px;
	float: left;
}


#Q6_1 {
	width: 900px;
	heigth: 900px;
	float: left;
	border-radius: 20px;
}


#buttonQ6 {
	background: green;
	border: black;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: 0.25s;
	margin-top: 15px;
}


#buttonQ6:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;
}


#after_submitQ6 {
	visibility: hidden;
	padding: 10px 10px 10px 10px;
	width: 425px;
	heigth: 900px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 20px;
}


#answerQ6_picture {
	width: 375px;
	heigth: 300px;
	float: left;
	border-radius: 20px;
}





